init-author-name=Mundia
@bit:registry=https://node.bit.cloud
//node.bitsrc.io/:_authToken=dcf24cf9-7989-4bd3-8c17-7af0f7cd271b
//node.bit.cloud/:_authToken=dcf24cf9-7989-4bd3-8c17-7af0f7cd271b
@owner:registry=https://node.bit.cloud
@dirt:registry=https://node.bit.cloud
